<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{teste}}
        <input @keyup.enter="greet" v-model="teste">
        <p v-if="isv">oi</p>
        <button @click="toggleBox">Show</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function(){
                return{
                    teste: 'funciona',
                    isv: false
                }
            },
            methods:{
                toggleBox(){
                    this.isv = !this.isv
                },
                greet(){
                    console.log(this.teste)
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>